* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 800px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

input {
    outline: none;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-filter {
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    background-color: #807c7c;
    color: #e2e0e0;
}


@media(max-width: 850px) {
    .container {
        width: 100%;
    }

    .filter {
        flex-direction: column;
        align-items: center;
    }

    .button-filter {
        width: 80%;
    }

    .button-filter:not(:last-child) {
        margin-bottom: 20px;
    }
}